__pycache__/
*.py[cod]

.venv/
.uv-cache/

.ipynb_checkpoints/
.idea/

out/*
!out/plots/
!out/plots/MEA/
!out/plots/MEA/plot_legacy_speciation/
!out/plots/MEA/plot_legacy_speciation/**
!out/plots/MEA/plot_legacy_pressure/
!out/plots/MEA/plot_legacy_pressure/**
!out/plots/MEA/plot_all_species_diagnostic/
!out/plots/MEA/plot_all_species_diagnostic/**
!out/plots/MEA/plot_all_species_pressure_diagnostic/
!out/plots/MEA/plot_all_species_pressure_diagnostic/**
!out/legacy_baseline/
!out/legacy_baseline/**
docs/latex/out/
docs/paper/out/

*.aux
*.log
*.bbl
*.blg
*.bcf
*.run.xml
*.synctex.gz

*~
